{% extends 'admin/layout.html.twig' %}
{% block title 'Editar Condición Iva' %}
{% block buttons  %}
    <a class="btn btn-dark" href="{{ path('admin_condicion_iva_list') }}">Volver</a>
{% endblock %}
{% block body %}
    {{ form(form) }}
{% endblock %}
