{% extends 'admin/layout.html.twig' %}
{% block title 'Editar Producto / Servicio' %}
{% block buttons  %}
    <a class="btn btn-dark" href="{{ path('admin_producto_servicio_list') }}">Volver</a>
{% endblock %}
{% block body %}
    {{ form(form) }}
{% endblock %}
