{% extends 'admin/layout.html.twig' %}
{% block title 'Nueva unidad de medida' %}
{% block buttons  %}
    <a class="btn btn-dark" href="{{ path('admin_unidad_medida_list') }}">Volver</a>
{% endblock %}
{% block body %}
    {{ form(form) }}
{% endblock %}